################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/opendata/.vs/opendata/v15
/opendata1012/.vs/opendata1012/v15
